* { box-sizing: border-box; padding: 0; margin: 0;}
html, body { height: 100%; }
a { text-decoration: none; color: #000; }

#container { display: grid; grid-template-rows: 100px 1fr; min-height: 100vh; }
#container > header { background-color: rgb(141, 133, 241); display: flex; align-items: center; padding: 10px 20px; }

.flex_center { display: flex; justify-content: center; align-items: center; }

.m_t_10 { margin-top: 10px; }
.p_10 { padding: 10px; }
.selected_page { font-weight: bold; }
.selected_page > a { color: rgb(239, 71, 71); }
